# ignore all test files
**/test/*
**/test.*

# ML stuff
datasets/*

# settings
/.metadata/

# 3rd party libraries
opencv/*

# . stuff
**/.*
**/test*

**/*.exe
**/*.o

datasets/*
opencv/*
**/.*
visualizer/screenshot.png
!basic_structure/graph/test

YOLO/data/*
YOLO/models/*
YOLO/config.json
