# ignore all test files
**/test/*
**/test.*

# ML stuff
*.pt
datasets/*

# settings
/.metadata/

# 3rd party libraries
opencv/*

# . stuff
**/.*
**/test*

**/*.exe
**/*.o

datasets/*
opencv/*
YOLO/*
**/.*
visualizer/screenshot.png
!basic_structure/graph/test
